* {
  font-family:  Ubuntu Mono Nerd Font;
  font-size: 25px;
  font-weight: 420;
}


#window {
  margin: 0px;
  border: 2px solid;
  border-color: #121212;
  border-radius: 15px;
  background-color: #202020;
  color: #dedede;
}

#input {
  background-color: transparent;
}

#scroll {
  margin-bottom: 15px;
}

#entry {
  margin: 0px 15px;
}

#entry:selected {
  background-color: #404040;
  border-radius: 15px;
  border: none;
  outline: none;
}

#entry > box {
  margin-left: 16px;
}

#entry image {
  padding-right: 30px;
}
